<div class="menu__list" ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab>
      <md-tab-label><img src="media/marker.png" class="marker"></md-tab-label>
        <md-tab-body>
          <ul layout="row" layout-wrap class="lanchonete__lista">
            <li flex="33" ng-repeat="lanchonete in vm.lanchonetes">
              <a href="">
              <div class="back__contain lanchonete__lista__imagem" style="background-image: url('media/koba.png');">
              </div>                
              </a>
            </li>
          </ul>

        </md-tab-body>
      </md-tab>
      <md-tab>
      <md-tab-label><img src="media/scoter.png"></md-tab-label>
        <md-tab-body>
          <h1 class="md-display-2">Tab One</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
        </md-tab-body>
      </md-tab>
      <md-tab>
      <md-tab-label><img src="media/home.png"></md-tab-label>
        <md-tab-body>
          <h1 class="md-display-2">Tab One</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
</div>