.titulo_padrao{
	font-family: roboto;
	font-weight: 600;
	color: $quaternary-color;
}
.titulo_padrao--primary{
	color: $primary-color;
}
.titulo_padrao--secondary{
	color: $secondary-color;
}
.titulo_padrao--tertiary{
	color: $tertiary-color;
}
.titulo_padrao--cta{
	color: $cta-color;
}
.titulo_padrao--uppercase{
	text-transform: uppercase;
}
.btn--cta{
	color: #fff!important;
	background-color: $cta-color!important;
	text-transform: capitalize;
	&:disabled{
		background-color: rgba($cta-color, 0.65)!important;	
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    img{
	    	max-height: 100%;
	    	max-width: 2em;
	    }
	}
}
.btn--totalWidth{
	width: 100%;
}