<h1>Peça Fácil</h1>
<p class="titulo_padrao">titulo_padrao</p>
<p class="titulo_padrao titulo_padrao--primary">titulo_padrao--primary</p>
<p class="titulo_padrao titulo_padrao--secondary">titulo_padrao--secondary</p>
<p class="titulo_padrao titulo_padrao--tertiary">titulo_padrao--tertiary</p>
<p class="titulo_padrao titulo_padrao--uppercase">titulo_padrao--uppercase</p>
<p class="titulo_padrao titulo_padrao--cta">titulo_padrao--cta</p>
<md-content>
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		<md-button class="md-raised btn--cta">Button</md-button>
		<md-button class="md-raised">Button</md-button>
		<md-button class="md-raised md-primary">Primary</md-button>
		<md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
		<md-button class="md-raised md-warn">Warn</md-button>
		<div class="label">Raised</div>
	</section>
</md-content>