<div class="login__content">
	<div layout="row" layout-align="center center" class="login__content__logo">
		<div class="login__logo">
	  		<img src="media/logo_small.png">		
		</div>
	</div>
	<div layout="row" layout-align="center start" class="login__content">
		<span class="login__content__background"></span>
		<md-content class="flex-90 login__content__tabs" >
			<md-tabs md-dynamic-height md-border-bottom>
				<md-tab label="Login">
					<md-content class="login__content__tabs__formPadding login__content__tabs--background">
						<form autocomplete="false" name="projectForm" ng-model="data" ng-submit="vm.logar(data)">
							<div layou="row">
								<md-input-container class="md-block" flex>
									<label>Login</label>
									<input autofill="off" autocomplete="false" ng-model="data.email" type="email" required="" name="email" md-no-asterisk>
								</md-input-container>

								<md-input-container class="md-block" flex>
									<label>Senha</label>
									<input autofill="off" autocomplete="false" ng-model="data.password" type="password" required="" md-no-asterisk>
								</md-input-container>
								<md-button ng-disabled="vm.btnLogin" class="md-raised btn--cta btn--totalWidth login__content__form__btn" type="submit">
									{{vm.btnLoginTexto}}
									<img src="media/loadDots.svg" ng-show="vm.btnLogin">
								</md-button>
							</div>
						</form>
					</md-content>
				</md-tab>
				<md-tab label="Cadastro">
					<md-content class="login__content__tabs__formPadding login__content__tabs--background">
						<form autocomplete="false" name="projectForm" ng-model="dados" ng-submit="vm.cadastroUser(dados)">
							<div layou="row">
								<md-input-container class="md-block" flex>
									<label>Nome completo</label>
									<input autofill="off" autocomplete="false" ng-model="dados.name" required="" md-no-asterisk>
								</md-input-container>
								<md-input-container class="md-block" flex>
									<label>E-mail - Será seu Login</label>
									<input autofill="off" autocomplete="false" ng-model="dados.email" type="email" required="" md-no-asterisk>
								</md-input-container>
								<md-input-container class="md-block" flex>
									<label>Senha</label>
									<input autofill="off" autocomplete="false" md-minlength="6" md-no-asterisk ng-model="dados.password" type="password" required="">
									<div ng-messages="projectForm.password.$error">
							          <div ng-message="md-maxlength">Minimo 6 caracteres</div>
							        </div>
								</md-input-container>
								<md-button ng-disabled="vm.btnCadastro" class="md-raised btn--cta btn--totalWidth login__content__form__btn" type="submit">
									{{vm.btnCadastroTexto}}
									<img src="media/loadDots.svg" ng-show="vm.btnCadastro">
								</md-button>
							</div>
						</form>
					</md-content>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>
</div>