.login__logo{
    padding: 15px 0px;
    img{
        width: 135px;
    }
}
.login__content__logo{
    background-color: #fff;
    height: 11vh;
    @media screen and (max-height: 512px) {
        height: 11vh;
    }
    @media screen and (max-height: 445px) {
        height: 15vh;
    }
    @media screen and (max-height: 370px) {
        height: 18vh;
    }
    @media screen and (max-height: 370px) {
        height: 21vh;
    }
    @media screen and (max-height: 275px) {
        height: 24vh;
    }
    @media screen and (max-height: 235px) {
        height: 27vh;
    }
    @media screen and (max-height: 210px) {
        height: 30vh;
    }
}
.login__content{
    background-image: url('../media/back2.jpg');
    height: 89vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (max-height: 555px) {
        height: 95vh;
    }
    @media screen and (max-height: 515px) {
        height: 100vh;
    }
    @media screen and (max-height: 490px) {
        height: 105vh;
    }
    @media screen and (max-height: 470px) {
        height: 115vh;
    }
    @media screen and (max-height: 430px) {
        height: 125vh;
    }
    @media screen and (max-height: 395px) {
        height: 135vh;
    }
    @media screen and (max-height: 365px) {
        height: 145vh;
    }
    @media screen and (max-height: 340px) {
        height: 155vh;
    }
    @media screen and (max-height: 315px) {
        height: 165vh;
    }
    @media screen and (max-height: 300px) {
        height: 175vh;
    }
    @media screen and (max-height: 300px) {
        height: 190vh;
    }
    @media screen and (max-height: 260px) {
        height: 210vh;
    }
    @media screen and (max-height: 235px) {
        height: 225vh;
    }
    @media screen and (max-height: 220px) {
        height: 250vh;
    }
    @media screen and (max-height: 200px) {
        height: 275vh;
    }
    @media screen and (max-height: 180px) {
        height: 300vh;
    }
    @media screen and (max-height: 160px) {
        height: 325vh;
    }
}
.login__content__background{
    width: 100%;
    height: 89vh;
    position: absolute;
    background: rgba($primary-color, 0.8);
    @media screen and (max-height: 555px) {
        height: 95vh;
    }
    @media screen and (max-height: 515px) {
        height: 100vh;
    }
    @media screen and (max-height: 490px) {
        height: 105vh;
    }
    @media screen and (max-height: 470px) {
        height: 115vh;
    }
    @media screen and (max-height: 430px) {
        height: 125vh;
    }
    @media screen and (max-height: 395px) {
        height: 135vh;
    }
    @media screen and (max-height: 365px) {
        height: 145vh;
    }
    @media screen and (max-height: 340px) {
        height: 155vh;
    }
    @media screen and (max-height: 315px) {
        height: 165vh;
    }
    @media screen and (max-height: 300px) {
        height: 175vh;
    }
    @media screen and (max-height: 300px) {
        height: 190vh;
    }
    @media screen and (max-height: 260px) {
        height: 210vh;
    }
    @media screen and (max-height: 235px) {
        height: 225vh;
    }
    @media screen and (max-height: 220px) {
        height: 250vh;
    }
    @media screen and (max-height: 200px) {
        height: 275vh;
    }
    @media screen and (max-height: 180px) {
        height: 300vh;
    }
    @media screen and (max-height: 160px) {
        height: 325vh;
    }
}
.login__content__tabs{
    margin-top: 2.5em;
    background: transparent;
    md-pagination-wrapper{
        width: 100%;    
        md-tab-item{
            width: 50%;
            color: $tertiary-color;
            font-weight: 800;
            border-bottom: 1px solid #fff;
        }
    }  
    md-tabs{
        .md-tab.md-active {         
            color: #fff;
            //background: rgba($tertiary-color,0.3);
        }
    } 
    md-ink-bar{
        color: $tertiary-color;
        background: $tertiary-color;
    }
    md-tabs{
        md-tabs-wrapper{
            border: none;
        }       
    }
    .login__content__tabs__formPadding{
        padding: 15px;
    }
    .login__content__tabs--background{
        background: transparent;
    }
    form{
        color: $tertiary-color;
        font-size: 18px;
        md-input-container{
            label{
                color: $tertiary-color!important;
            }
            input{
                color: #fff;
                border-color:$tertiary-color!important;
            }
        }
    }
    .login__content__form__btn{
        margin: 0px;
        font-size: 18px;
        height: 3em;
        button:disabled{
            background-color: $cta-color - 100;
        }
    }
}
.md-input-message-animation{
    color: #fff!important;
}
.md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content {
    background-color: #fff!important;
    color: $tertiary-color!important;
    border: 1px solid $tertiary-color;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}