.login__logo{
	padding: 15px 0px;
	img{
		width: 135px;
	}
}
.login__content__logo{
	background-color: #fff;
	height: 11vh;
    @media screen and (max-height: 512px) {
        height: 11vh;
    }
    @media screen and (max-height: 445px) {
        height: 15vh;
    }
    @media screen and (max-height: 370px) {
        height: 18vh;
    }
    @media screen and (max-height: 370px) {
        height: 21vh;
    }
    @media screen and (max-height: 275px) {
        height: 24vh;
    }
    @media screen and (max-height: 235px) {
        height: 27vh;
    }
    @media screen and (max-height: 210px) {
        height: 30vh;
    }
}
.login__content{
	background-image: url('../media/back2.jpg');
	height: 89vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.login__content__background{
    width: 100%;
    height: 89vh;
    position: absolute;
    background: rgba($primary-color, 0.8);
}
.login__content__tabs{
    margin-top: 2.5em;
    background: transparent;
    md-pagination-wrapper{
    	width: 100%;  	
    	md-tab-item{
	    	width: 50%;
	    	color: $tertiary-color;
	    	font-weight: 800;
	    	border-bottom: 1px solid #fff;
	    }
    }  
    md-tabs{
    	.md-tab.md-active {    		
	    	color: #fff;
    		//background: rgba($tertiary-color,0.3);
    	}
    } 
    md-ink-bar{
	    color: $tertiary-color;
    	background: $tertiary-color;
    }
    md-tabs{
	    md-tabs-wrapper{
	    	border: none;
	    }    	
    }
    .login__content__tabs__formPadding{
    	padding: 15px;
    }
    .login__content__tabs--background{
    	background: transparent;
    }
    form{
    	color: $tertiary-color;
    	font-size: 18px;
    	md-input-container{
    		label{
    			color: $tertiary-color!important;
    		}
    		input{
    			color: #fff;
    			border-color:$tertiary-color!important;
    		}
    	}
    }
    .login__content__form__btn{
    	margin: 0px;
    	font-size: 18px;
	    height: 3em;
    }
}