<div class="login__content">
	<div layout="row" layout-align="center center" class="login__content__logo">
		<div class="login__logo">
	  		<img src="media/logo_small.png">		
		</div>
	</div>
	<div layout="row" layout-align="center start" class="login__content">
		<span class="login__content__background"></span>
		<md-content class="flex-90 login__content__tabs" >
			<md-tabs md-dynamic-height md-border-bottom>
				<md-tab label="Login">
					<md-content class="login__content__tabs__formPadding login__content__tabs--background">
						<form name="projectForm" ng-model="data" ng-submit="vm.logar(data)">
							<div layou="row">
								<div align="center">{{vm.apiStatus}}</div>
								<md-input-container class="md-block" flex>
									<label>Login</label>
									<input ng-model="data.login" type="email" required="">
								</md-input-container>

								<md-input-container class="md-block" flex>
									<label>Senha</label>
									<input ng-model="data.senha" type="password" required="">
								</md-input-container>
								<md-button class="md-raised btn--cta btn--totalWidth login__content__form__btn" type="submit">Entrar</md-button>
							</div>
						</form>
					</md-content>
				</md-tab>
				<md-tab label="Cadastro">
					<md-content class="login__content__tabs__formPadding login__content__tabs--background">
						<form name="projectForm" ng-model="dados">
							<div layou="row">
								<md-input-container class="md-block" flex>
									<label>Nome completo</label>
									<input ng-model="dados.nome">
								</md-input-container>
								<md-input-container class="md-block" flex>
									<label>CEP</label>
									<input ng-model="dados.cep">
								</md-input-container>
								<md-input-container class="md-block" flex>
									<label>E-mail - Será seu Login</label>
									<input ng-model="dados.login">
								</md-input-container>
								<md-input-container class="md-block" flex>
									<label>Senha</label>
									<input ng-model="dados.senha" type="password">
								</md-input-container>
								<md-button class="md-raised btn--cta btn--totalWidth login__content__form__btn ">Cadastrar</md-button>
							</div>
						</form>
					</md-content>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>
</div>